In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv(r'DataBreaches(2004-2021).csv')
df.head()

,Entity,Year,Records,Organization type,Method
0,21st Century Oncology,2016,2200000,healthcare,hacked
1,500px,2020,14870304,social networking,hacked
2,Accendo Insurance Co.,2020,175350,healthcare,poor security
3,Adobe Systems Incorporated,2013,152000000,tech,hacked
4,Adobe Inc.,2019,7500000,tech,poor security

In [3]:
df.shape

(295, 5)

In [4]:
df.dtypes

Entity               object
Year                  int64
Records               int64
Organization type    object
Method               object
dtype: object

In [5]:
df.columns

Index(['Entity', 'Year', 'Records', 'Organization type', 'Method'], dtype='object')

In [6]:
df.isnull().sum()

Entity               0
Year                 0
Records              0
Organization type    0
Method               0
dtype: int64

In [7]:
df.isnull().sum().sum()

0

In [8]:
df['Method'].value_counts()

hacked                                                  156
poor security                                            36
lost / stolen media                                      32
inside job                                               18
accidentally published                                   17
lost / stolen computer                                   15
unknown                                                   4
improper setting, hacked                                  2
poor security/inside job                                  2
intentionally lost                                        1
accidentally exposed                                      1
publicly accessible Amazon Web Services (AWS) server      1
rogue contractor                                          1
misconfiguration/poor security                            1
Poor security                                             1
data exposed by misconfiguration                          1
unprotected api                                           1
poor security / hacked                                    1
accidentally uploaded                                     1
unsecured S3 bucket                                       1
inside job, hacked                                        1
social engineering                                        1
Name: Method, dtype: int64

In [9]:
le=LabelEncoder()
print(le)

LabelEncoder()

In [10]:
df['Entity']=le.fit_transform(df['Entity'])
df['Organization type']=le.fit_transform(df['Organization type'])
df['Method']=le.fit_transform(df['Method'])

In [11]:
df.head()

   Entity  Year    Records  Organization type  Method
0       1  2016    2200000                 23       5
1       2  2020   14870304                 40       5
2       5  2020     175350                 23      13
3       7  2013  152000000                 42       5
4       6  2019    7500000                 42      13

In [12]:
df['Method'].value_counts()

5     156
13     36
11     32
7      18
2      17
10     15
19      4
6       2
15      2
9       1
1       1
16      1
17      1
12      1
0       1
4       1
20      1
14      1
3       1
21      1
8       1
18      1
Name: Method, dtype: int64

In [13]:
df.to_csv('final_data.csv')

In [14]:
x=df.drop('Method',axis=1)
x

     Entity  Year    Records  Organization type
0         1  2016    2200000                 23
1         2  2020   14870304                 40
2         5  2020     175350                 23
3         7  2013  152000000                 42
4         6  2019    7500000                 42
..      ...   ...        ...                ...
290     275  2019  173000000                 39
291     266  2019      98000                 13
292     251  2020  200000000                 13
293     147  2020     391250                 23
294     120  2020     380000                 34

[295 rows x 4 columns]

In [15]:
y=df['Method']
y

0       5
1       5
2      13
3       5
4      13
       ..
290     5
291     5
292     2
293    13
294    19
Name: Method, Length: 295, dtype: int32

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [17]:
x_train

     Entity  Year   Records  Organization type
69       59  2019   9700000                 13
287     272  2010     43000                  5
165     148  2014   1100000                 36
126     108  2012   3000000                 13
221     203  2012   2434899                 19
..      ...   ...       ...                ...
188     170  2019  11900000                  0
71       61  2019   4900000                 50
106      89  2010   1500000                 50
270     256  2020    900000                 30
102      83  2012    420000                 50

[206 rows x 4 columns]

In [18]:
y_train

69      7
287     2
165     5
126     5
221     5
       ..
188    13
71      5
106     5
270     1
102     2
Name: Method, Length: 206, dtype: int32

In [19]:
x_test

     Entity  Year    Records  Organization type
273     259  2013    2000000                 47
155     135  2008    6000000                 19
84       71  2012     315000                 23
82       69  2010     251000                 19
261     227  2009      72000                 28
..      ...   ...        ...                ...
292     251  2020  200000000                 13
139     121  2014    1000000                 42
266     146  2009     131000                 28
67       58  2008    8000000                 13
90       77  2013    6000000                 39

[89 rows x 4 columns]

In [20]:
y_test

273     7
155     2
84     13
82      7
261    11
       ..
292     2
139     5
266    10
67      5
90      2
Name: Method, Length: 89, dtype: int32

In [21]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)
acc=accuracy_score(y_pred,y_test)
acc

0.5168539325842697

In [22]:
from sklearn.svm import LinearSVC
svs=LinearSVC(C=1.0)
svs.fit(x_train,y_train)
y_pred=svs.predict(x_test)
acc=accuracy_score(y_pred,y_test)
acc

c:\Users\ymts0591\Anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.1348314606741573

In [23]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

model = Sequential([
Dense(input_dim = 4, units = 16, activation = 'relu'),
Dense(units = 24, activation = 'relu'),
Dropout(0.5),
Dense(units = 20, activation = 'relu'),
Dense(units = 24, activation = 'relu'),
Dense(units =1, activation = 'sigmoid'),]) 

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.fit(x_train, y_train, batch_size = 15, epochs = 10)

score = model.evaluate(x_test,y_test)
score

Epoch 1/10
14/14 [==============================] - 1s 2ms/step - loss: -50018536.0000 - accuracy: 0.0000e+00
Epoch 2/10
14/14 [==============================] - 0s 3ms/step - loss: -125439016.0000 - accuracy: 0.0049
Epoch 3/10
14/14 [==============================] - 0s 3ms/step - loss: -153421152.0000 - accuracy: 0.0049
Epoch 4/10
14/14 [==============================] - 0s 2ms/step - loss: -349936896.0000 - accuracy: 0.0049
Epoch 5/10
14/14 [==============================] - 0s 3ms/step - loss: -402970848.0000 - accuracy: 0.0049
Epoch 6/10
14/14 [==============================] - 0s 4ms/step - loss: -653061376.0000 - accuracy: 0.0049
Epoch 7/10
14/14 [==============================] - 0s 3ms/step - loss: -719271936.0000 - accuracy: 0.0049
Epoch 8/10
14/14 [==============================] - 0s 3ms/step - loss: -1247807488.0000 - accuracy: 0.0049
Epoch 9/10
14/14 [==============================] - 0s 2ms/step - loss: -1710754944.0000 - accuracy: 0.0049
Epoch 10/10
14/14 [==============================] - 0s 3ms/step - loss: -2228043264.0000 - accuracy: 0.0049
3/3 [==============================] - 0s 2ms/step - loss: -2666410752.0000 - accuracy: 0.0000e+00

[-2666410752.0, 0.0]

In [24]:
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from keras.layers import Dropout
from keras import regularizers

model = Sequential()

# layers
model.add(Dense(units = 16, kernel_initializer = 'uniform', activation = 'relu', input_dim = 4))
model.add(Dense(units = 8, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(0.25))
model.add(Dense(units = 4, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dropout(0.5))
model.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
# from keras.optimizers import SGD
# Compiling the ANN
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.summary()
# fit the model to the training data
history=model.fit(x_train, y_train,epochs=50, validation_data=(x_test, y_test))
y_pred = model.predict(x_test)
acc_cnn = np.mean(history.history['val_accuracy'])

acc_cnn = acc_cnn*100
print('The accuracy obtained by CNN model :',acc_cnn)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 16)                80

 dense_6 (Dense)             (None, 8)                 136

 dropout_1 (Dropout)         (None, 8)                 0

 dense_7 (Dense)             (None, 4)                 36

 dropout_2 (Dropout)         (None, 4)                 0

 dense_8 (Dense)             (None, 1)                 5

=================================================================
Total params: 257
Trainable params: 257
Non-trainable params: 0
_________________________________________________________________
Epoch 1/50
7/7 [==============================] - 1s 43ms/step - loss: 172.7642 - accuracy: 0.0049 - val_loss: -239.2545 - val_accuracy: 0.0000e+00
Epoch 2/50
7/7 [==============================] - 0s 10ms/step - loss: -146.0418 - accuracy: 0.0000e+00 - val_loss: -852.0187 - val_accuracy: 0.0000e+00
Epoch 3/50
7/7 [==============================] - 0s 15ms/step - loss: -1407.6230 - accuracy: 0.0049 - val_loss: -2309.9421 - val_accuracy: 0.0000e+00
Epoch 4/50
7/7 [==============================] - 0s 7ms/step - loss: -1480.9238 - accuracy: 0.0049 - val_loss: -5171.4019 - val_accuracy: 0.0000e+00
Epoch 5/50
7/7 [==============================] - 0s 9ms/step - loss: -5336.3872 - accuracy: 0.0049 - val_loss: -10504.9287 - val_accuracy: 0.0000e+00
Epoch 6/50
7/7 [==============================] - 0s 11ms/step - loss: -14421.1631 - accuracy: 0.0049 - val_loss: -22012.1777 - val_accuracy: 0.0000e+00
Epoch 7/50
7/7 [==============================] - 0s 9ms/step - loss: -22190.7480 - accuracy: 0.0049 - val_loss: -43287.3945 - val_accuracy: 0.0000e+00
Epoch 8/50
7/7 [==============================] - 0s 9ms/step - loss: -24681.0977 - accuracy: 0.0049 - val_loss: -77822.8438 - val_accuracy: 0.0000e+00
Epoch 9/50
7/7 [==============================] - 0s 9ms/step - loss: -84594.9062 - accuracy: 0.0049 - val_loss: -135314.1406 - val_accuracy: 0.0000e+00
Epoch 10/50
7/7 [==============================] - 0s 8ms/step - loss: -162860.9062 - accuracy: 0.0049 - val_loss: -223522.7344 - val_accuracy: 0.0000e+00
Epoch 11/50
7/7 [==============================] - 0s 9ms/step - loss: -259879.8906 - accuracy: 0.0049 - val_loss: -354887.3125 - val_accuracy: 0.0000e+00
Epoch 12/50
7/7 [==============================] - 0s 8ms/step - loss: -490286.7188 - accuracy: 0.0049 - val_loss: -549332.2500 - val_accuracy: 0.0000e+00
Epoch 13/50
7/7 [==============================] - 0s 9ms/step - loss: -570625.5625 - accuracy: 0.0049 - val_loss: -812178.8750 - val_accuracy: 0.0000e+00
Epoch 14/50
7/7 [==============================] - 0s 10ms/step - loss: -1438612.6250 - accuracy: 0.0049 - val_loss: -1200825.1250 - val_accuracy: 0.0000e+00
Epoch 15/50
7/7 [==============================] - 0s 9ms/step - loss: -1058709.1250 - accuracy: 0.0049 - val_loss: -1694147.7500 - val_accuracy: 0.0000e+00
Epoch 16/50
7/7 [==============================] - 0s 9ms/step - loss: -1733543.5000 - accuracy: 0.0049 - val_loss: -2271343.0000 - val_accuracy: 0.0000e+00
Epoch 17/50
7/7 [==============================] - 0s 10ms/step - loss: -1938905.6250 - accuracy: 0.0049 - val_loss: -2996611.2500 - val_accuracy: 0.0000e+00
Epoch 18/50
7/7 [==============================] - 0s 9ms/step - loss: -2354144.2500 - accuracy: 0.0049 - val_loss: -3928623.7500 - val_accuracy: 0.0000e+00
Epoch 19/50
7/7 [==============================] - 0s 8ms/step - loss: -3705820.2500 - accuracy: 0.0049 - val_loss: -5096100.5000 - val_accuracy: 0.0000e+00
Epoch 20/50
7/7 [==============================] - 0s 12ms/step - loss: -6387038.5000 - accuracy: 0.0049 - val_loss: -6532076.0000 - val_accuracy: 0.0000e+00
Epoch 21/50
7/7 [==============================] - 0s 13ms/step - loss: -7768712.0000 - accuracy: 0.0049 - val_loss: -8361895.5000 - val_accuracy: 0.0000e+00
Epoch 22/50
7/7 [==============================] - 0s 9ms/step - loss: -9082938.0000 - accuracy: 0.0049 - val_loss: -10501057.0000 - val_accuracy: 0.0000e+00
Epoch 23/50
7/7 [==============================] - 0s 9ms/step - loss: -12394952.0000 - accuracy: 0.0049 - val_loss: -13085362.0000 - val_accuracy: 0.0000e+00
Epoch 24/50
7/7 [==============================] - 0s 8ms/step - loss: -18183544.0000 - accuracy: 0.0049 - val_loss: -16285380.0000 - val_accuracy: 0.0000e+00
Epoch 25/50
7/7 [==============================] - 0s 10ms/step - loss: -10188512.0000 - accuracy: 0.0049 - val_loss: -19563732.0000 - val_accuracy: 0.0000e+00
Epoch 26/50
7/7 [==============================] - 0s 8ms/step - loss: -17513326.0000 - accuracy: 0.0049 - val_loss: -23087012.0000 - val_accuracy: 0.0000e+00
Epoch 27/50
7/7 [==============================] - 0s 9ms/step - loss: -30295872.0000 - accuracy: 0.0049 - val_loss: -27566210.0000 - val_accuracy: 0.0000e+00
Epoch 28/50
7/7 [==============================] - 0s 9ms/step - loss: -28543572.0000 - accuracy: 0.0049 - val_loss: -32193466.0000 - val_accuracy: 0.0000e+00
Epoch 29/50
7/7 [==============================] - 0s 10ms/step - loss: -38789708.0000 - accuracy: 0.0049 - val_loss: -37804388.0000 - val_accuracy: 0.0000e+00
Epoch 30/50
7/7 [==============================] - 0s 9ms/step - loss: -60381280.0000 - accuracy: 0.0049 - val_loss: -45012060.0000 - val_accuracy: 0.0000e+00
Epoch 31/50
7/7 [==============================] - 0s 10ms/step - loss: -38640576.0000 - accuracy: 0.0049 - val_loss: -52250372.0000 - val_accuracy: 0.0000e+00
Epoch 32/50
7/7 [==============================] - 0s 8ms/step - loss: -66792036.0000 - accuracy: 0.0049 - val_loss: -60064648.0000 - val_accuracy: 0.0000e+00
Epoch 33/50
7/7 [==============================] - 0s 9ms/step - loss: -42194888.0000 - accuracy: 0.0049 - val_loss: -68010960.0000 - val_accuracy: 0.0000e+00
Epoch 34/50
7/7 [==============================] - 0s 9ms/step - loss: -86164760.0000 - accuracy: 0.0049 - val_loss: -78043456.0000 - val_accuracy: 0.0000e+00
Epoch 35/50
7/7 [==============================] - 0s 11ms/step - loss: -55733992.0000 - accuracy: 0.0049 - val_loss: -88867440.0000 - val_accuracy: 0.0000e+00
Epoch 36/50
7/7 [==============================] - 0s 11ms/step - loss: -65201600.0000 - accuracy: 0.0049 - val_loss: -98937408.0000 - val_accuracy: 0.0000e+00
Epoch 37/50
7/7 [==============================] - 0s 10ms/step - loss: -122443600.0000 - accuracy: 0.0049 - val_loss: -110959096.0000 - val_accuracy: 0.0000e+00
Epoch 38/50
7/7 [==============================] - 0s 12ms/step - loss: -134933040.0000 - accuracy: 0.0049 - val_loss: -125311808.0000 - val_accuracy: 0.0000e+00
Epoch 39/50
7/7 [==============================] - 0s 9ms/step - loss: -107731952.0000 - accuracy: 0.0049 - val_loss: -140242672.0000 - val_accuracy: 0.0000e+00
Epoch 40/50
7/7 [==============================] - 0s 9ms/step - loss: -41027536.0000 - accuracy: 0.0049 - val_loss: -152351248.0000 - val_accuracy: 0.0000e+00
Epoch 41/50
7/7 [==============================] - 0s 10ms/step - loss: -195270240.0000 - accuracy: 0.0049 - val_loss: -169178608.0000 - val_accuracy: 0.0000e+00
Epoch 42/50
7/7 [==============================] - 0s 8ms/step - loss: -183439664.0000 - accuracy: 0.0049 - val_loss: -190583056.0000 - val_accuracy: 0.0000e+00
Epoch 43/50
7/7 [==============================] - 0s 11ms/step - loss: -157471008.0000 - accuracy: 0.0049 - val_loss: -210079696.0000 - val_accuracy: 0.0000e+00
Epoch 44/50
7/7 [==============================] - 0s 14ms/step - loss: -243607440.0000 - accuracy: 0.0049 - val_loss: -232412016.0000 - val_accuracy: 0.0000e+00
Epoch 45/50
7/7 [==============================] - 0s 9ms/step - loss: -275817088.0000 - accuracy: 0.0049 - val_loss: -256990704.0000 - val_accuracy: 0.0000e+00
Epoch 46/50
7/7 [==============================] - 0s 9ms/step - loss: -193904640.0000 - accuracy: 0.0049 - val_loss: -282223360.0000 - val_accuracy: 0.0000e+00
Epoch 47/50
7/7 [==============================] - 0s 8ms/step - loss: -177218592.0000 - accuracy: 0.0049 - val_loss: -304450816.0000 - val_accuracy: 0.0000e+00
Epoch 48/50
7/7 [==============================] - 0s 10ms/step - loss: -295942624.0000 - accuracy: 0.0049 - val_loss: -333973248.0000 - val_accuracy: 0.0000e+00
Epoch 49/50
7/7 [==============================] - 0s 9ms/step - loss: -431531584.0000 - accuracy: 0.0049 - val_loss: -367135104.0000 - val_accuracy: 0.0000e+00
Epoch 50/50
7/7 [==============================] - 0s 9ms/step - loss: -386943872.0000 - accuracy: 0.0049 - val_loss: -402072192.0000 - val_accuracy: 0.0000e+00
3/3 [==============================] - 0s 2ms/step
The accuracy obtained by CNN model : 0.0

In [25]:
abc = [[59,	2019,	9700000,	13]]
result=rf.predict(abc)
result = result[0]
result
if result==0:
    print('The Network has attacked with Poor Security')
elif result ==1:
    print('The Network has attacked with Accidentally Exposed')
elif result==2:
    print("The Network has attacked with Accidentally Published")
elif result==3:
    print("The Network has attacked with Accidentally Uploaded")
elif result==4:
    print("The Network has attacked with Data Exposed")
elif result==5:
    print("The Network has attacked with Hacked")
elif result==6:
    print("The Network has attacked with Improper setting/Hacked")
elif result==7:
    print("The Network has attacked with Inside Job")
elif result==8:
    print("Inside Job/Hacked")
elif result==9:
    print("The Network has attacked with Intensionally Lost")
elif result==10:
    print("The Network has attacked with Lost/Stolen Computer")
elif result==11:
    print("The Network has attacked with Lost/Stolen Media")
elif result==12:
    print("The Network has attacked with Misconfiguration")
elif result==13:
    print("The Network has attacked with Poor Security")
elif result==14:
    print("The Network has attacked with Poor Security/Hacked")
elif result==15:
    print("The Network has attacked with Poor security")
elif result==16:
    print("The Network has attacked with Publicly by Amazon web Services")
elif result==17:
    print("The Network has attacked with Rouge Contracter")
elif result==18:
    print("The Network has attacked with Socila engineering")
elif result==19:
    print("The Network has attacked with Unknown")
elif result==20:
    print("The Network has attacked with Unprotected Api")
else:
    print("The Network has attacked with Unserved S3 Bucket")

The Network has attacked with Inside Job

c:\Users\ymts0591\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(